/* You can add global styles to this file, and also import other style files */
@import url(assets/libs/bootstrap/bootstrap-grid.min.css);
.body{
    background-color: rgb(13,17,23);
    font-family: 'Montserrat', sans-serif;
    color:rgb(117,136,154);
    padding:0;
    margin:0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
