
.login{
    display: none;
}

.signup{
    display: none;
}

.join{
    display: flex;
    flex-direction: column;
    padding:2rem;
    row-gap: 1rem;
    max-width:40%;
}

.form{
    display: flex;
    flex-direction: column;
}

.join-button{
    background-color: var(--prime);
}