<p class="title">{{roomName}}</p>
<div class="room">
    <div *ngFor="let mesg of messages" class="iter">
        <div class="flow-left">
            <p class="float">{{mesg.user}} : {{mesg.message}}</p>
        </div>
        <div *ngIf="alert!=''">
            <p>{{alert}}</p>
        </div>
    </div>
</div>
<div class="texting">
    <input class="col-lg-10 text-input" type="text" [(ngModel)]="message">
    <button mat-button [disabled]="message == ''" class="col-lg-2 send-button" ng (click)="addMessage()">send</button>
</div>