.title{
    margin-top:1rem;
    color:white;
    text-align: center;
    font-weight: bolder;
    font-size: medium;
}
.room{
    border:2px solid rgba(245, 209, 111, 0.7);
    /* border-bottom: 0; */
    margin:0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height:480px;
}
.room::-webkit-scrollbar{
    width:10px;
}
.room::-webkit-scrollbar-thumb{
    background-color: rgba(218, 196, 196, 0.1);
    width:5px;
    border-radius: 1rem;
    margin-right:5px;
    max-height:20px;
}
.texting{
    margin:0rem 0.5rem;
}
.text-input{
    background-color: rgba(218, 196, 196, 0.1);
    border:none;
    height:2rem;
    color:white;
}
.send-button{
    height: 2rem;
}