<div class="wrapper">
    <div class="top-div">

        <h1 class="heading">Wacky!!</h1>

        <div class="tag">
            <p class="tagline">No backup, No history, No bullshit..........</p>

            <p class="tagline">Just text without consequences</p>
        </div>

        <button mat-button routerLink="/home" class="start">Let's Get Started</button>

    </div>
</div>

<img src="../../../assets/images/4112338.jpg" alt="background Image" class="image">
<img src="../../../assets/images/arrow.svg" alt="" class="image-2">

<!-- </div> -->