.wrapper{
    padding:0;
    margin:0;
    display: flex;
    min-height: 622px;
    max-height: 622px;
    max-width: 100vw;
    min-width:100vw;
}

#room{
    padding:0;
    margin:0;
   
}
#chat{
    padding:0;
    margin:0;
    /* margin-right:0.5rem;    */
}

#player{
    padding:0;
    margin:0; 
}
