.title{
    margin-top:1rem;
    color:white;
    text-align: center;
    font-weight: bolder;
    font-size: medium;
}
.participant{
    border:2px solid rgba(245, 209, 111, 0.7);
    margin:0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height:480px;
}
.users{
    align-items: center;
    margin: .5rem 0;
    display: flex;
    justify-content: space-between;
    padding:.5rem 1rem;
    width:80%;
    background-color: rgba(218, 196, 196, 0.1);
    border-radius:2rem;    
}
.user{
    color:rgba(245, 209, 111, 0.7);
    font-weight: bold;
    margin:0;
}
#remove{
    height:2rem;
    width:4rem;
    border-radius: 1rem;
    color:white;
    background-color: rgb(255, 0, 0,0.4);
}
.participant::-webkit-scrollbar{
    width:10px;
}
.participant::-webkit-scrollbar-thumb{
    background-color: rgba(218, 196, 196, 0.1);
    width:5px;
    border-radius: 1rem;
    margin-right:5px;
    max-height:20px;
}
.invite-box{
    margin: 2rem 0.5rem;
    display: flex;
    justify-content: center;
    height:2rem;
}
.mat-raised-button.mat-blue {
    background-color:rgb(6, 6, 196)
 }